$cinza:#666666;
$cinza-claro:#555555;
$rosa:#fc00ff;
$branco:#fff;
$azul-bebe:#00dbde;
$azul-escuro:#3b5998;
$lilas:#a64bf4;
$vermelho:#c80000;

@mixin all{
    margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

@mixin fontes{
    
@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Medium;
    src: url('../fonts/montserrat/Montserrat-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-SemiBold;
    src: url('../fonts/montserrat/Montserrat-SemiBold.ttf'); 
  }
}

@mixin browsers-transition{
    transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
@mixin browsers-focus-placeholder{

    input:focus::-webkit-input-placeholder { color:transparent; }
    input:focus:-moz-placeholder { color:transparent; }
    input:focus::-moz-placeholder { color:transparent; }
    input:focus:-ms-input-placeholder { color:transparent; }
}
@mixin browsers-placeholder{

    input::-webkit-input-placeholder { color: darken($cinza,10);}
    input:-moz-placeholder { color: darken($cinza,10);}
    input::-moz-placeholder { color: darken($cinza,10);}
    input:-ms-input-placeholder { color: darken($cinza,10);}
}
@mixin browsers-flexbox{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
@mixin box-shadow{
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
}
@mixin browsers-webkit-transition{
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
@mixin browsers-linear-gradient{
    background: -webkit-linear-gradient(45deg, $azul-bebe, $rosa);
    background: -o-linear-gradient(45deg, $azul-bebe, $rosa);
    background: -moz-linear-gradient(45deg, $azul-bebe, $rosa);
    background: linear-gradient(45deg, $azul-bebe, $rosa);
}
@mixin browsers-scale{
    -webkit-transform: scaleX(1.1) scaleY(1.3);
    -moz-transform: scaleX(1.1) scaleY(1.3);
    -ms-transform: scaleX(1.1) scaleY(1.3);
    -o-transform: scaleX(1.1) scaleY(1.3);
    transform: scaleX(1.1) scaleY(1.3);
}
@mixin browsers-scale-um{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
@mixin browsers-opacity{
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}
@mixin browsers-transformY{
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
@mixin responsividade{
/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/
@media (max-width: 768px) {
    .wrap-login100 {
      padding-left: 60px;
      padding-right: 60px;
    }
  
  @media (max-width: 576px) {
    .wrap-login100 {
      padding-left: 15px;
      padding-right: 15px;
    }
  
    .btn-face,
    .btn-google {
      width: 100%;
    }
  }
  }
}