@import 'mixins-var';
@include fonts;

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
@include all;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif !important;
}

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color:$cinza;
	margin: 0px;
  @include browsers-transition;

  &:focus {
    outline: none !important;
  }

  &:hover {
    text-decoration: none;
    color: $rosa;
    border-color: $rosa;
  }
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: $cinza;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}
@include browsers-focus-placeholder;
@include browsers-placeholder;

label {
  display: block;
  margin: 0;
}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;

  &:hover {
    cursor: pointer;
  }
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Montserrat-SemiBold;
  font-size: 16px;
  color: #555555;
  line-height: 1.5;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 14px;
  color: #999999;
  line-height: 1.5;
}

.bo1 {border-bottom: 1px solid #999999;}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
@include browsers-flexbox;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-position: center !important;
  background-size: cover;
  background-repeat: no-repeat;;
}


.wrap-login100 {
  width: 680px;
  background: $branco;
  border-radius: 10px;
  position: relative;
}


/*==================================================================
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  width: 100%;
  display: block;
  font-family: Montserrat-Medium;
  font-size: 39px;
  color: darken($cinza,10);
  line-height: 1.2;
  text-align: center;
}

/*------------------------------------------------------------------
[ Button sign in with ]*/
.btn-face,
.btn-google {
  font-family: Montserrat-SemiBold;
  font-size: 18px;
  line-height: 1.2;
@include browsers-flexbox;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: calc((100% - 20px) / 2);
  height: 70px;
  border-radius: 10px;
@include box-shadow;
@include browsers-webkit-transition;
  position: relative;
  z-index: 1;
}

.btn-google::before,
.btn-face::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  top: 0;
  left: 0;
  background: $lilas;
@include browsers-linear-gradient;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn {  
  &-face {
    color: $branco;
    background-color: $azul-escuro;
  }
    & i {
      font-size: 30px;
      margin-right: 17px;
      padding-bottom: 3px;
    }
}

.btn {
  &-google {
    color: $cinza-claro;
    background-color: $branco;
  
  }
    & img {
      width: 30px;
      margin-right: 15px;
      padding-bottom: 3px;
    }
}

.btn-face:hover:before,
.btn-google:hover:before {
  opacity: 1;
}

.btn-face:hover,
.btn-google:hover {
  color: $branco;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap {
    &-input100 {
      width: 100%;
      position: relative;
      background-color: #f7f7f7;
      border: 1px solid #e6e6e6;
      border-radius: 10px;
  }
}


/*---------------------------------------------*/
.input100 {
  font-family: Poppins-Regular;
  color: $cinza-claro;
  line-height: 1.2;
  font-size: 18px;

  display: block;
  width: 100%;
  background: transparent;
  height: 60px;
  padding: 0 20px;
}
/*------------------------------------------------------------------
[ Focus Input ]*/

.focus {
  &-input100 {
      position: absolute;
      display: block;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      top: -1px;
      left: -1px;
      pointer-events: none;
      border: 1px solid $rosa;
      border-radius: 10px;
      visibility: hidden;
      opacity: 0;
    @include browsers-webkit-transition;
    @include browsers-scale;
  }
}
.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;
@include browsers-scale-um;
}

.eff-focus-selection {
  visibility: visible;
  opacity: 1;
@include browsers-scale-um;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
@include browsers-flexbox;
  flex-wrap: wrap;
}

.login100-form-btn {
@include browsers-flexbox;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  background-color: darken($cinza,20);
  border-radius: 10px;
  font-family: Poppins-Medium;
  font-size: 16px;
  color: $branco;
  line-height: 1.2;

@include browsers-transition;
  position: relative;
  z-index: 1;
}

.login100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  top: 0;
  left: 0;
  background: $lilas;
@include browsers-linear-gradient;
  opacity: 0;
@include browsers-transition;
}

.login100-form-btn:hover:before {
  opacity: 1;
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate{
  &-input {
    position: relative;
  }
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: $branco;
  @if($vermelho == #c80000) {
    border: 1px solid $vermelho;
  }@else{
    border:#c80000;
  }

  border-radius: 2px;
  padding: 4px 25px 5px 10px;
  top: 50%;
@include browsers-transformY;
  right: 12px;
  pointer-events: none;
  font-family: Poppins-Regular;
  color: $vermelho;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
@include browsers-opacity;
}

.alert {
  &-validate::after {
    content: "\f12a"; //fa-exclamation
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: $vermelho;
    font-size: 18px;
    top: 50%;
  @include browsers-transformY;
    right: 18px;
  }
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}


@include responsividade;