@charset 'utf-8';

$cinza: hsl(0, 0, 40);
$cinza-claro:hsl(0, 0, 33);
$rosa:hsl(299, 100, 50);
$branco:hsl(0, 0, 100);
$azul-bebe:hsl(181, 100, 44);
$azul-escuro:hsl(221, 44, 41);
$lilas:hsl(272, 88, 63);
$vermelho:hsl(0, 100, 39);

@mixin all{
    margin: 0px; 
	padding: 0px; 
	box-sizing: border-box !important;
}

@mixin fonts{
    
@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Medium;
    src: url('../fonts/montserrat/Montserrat-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-SemiBold;
    src: url('../fonts/montserrat/Montserrat-SemiBold.ttf'); 
  }
}

@mixin browsers-transition{
    transition: all 0.4s !important;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s !important;
}
@mixin browsers-focus-placeholder{

    input:focus::-webkit-input-placeholder { color:transparent; }
    input:focus:-moz-placeholder { color:transparent; }
    input:focus::-moz-placeholder { color:transparent; }
    input:focus:-ms-input-placeholder { color:transparent; }
}
@mixin browsers-placeholder{

    input::-webkit-input-placeholder { color: darken($cinza,10);}
    input:-moz-placeholder { color: darken($cinza,10);}
    input::-moz-placeholder { color: darken($cinza,10);}
    input:-ms-input-placeholder { color: darken($cinza,10);}
}
@mixin browsers-flexbox{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box !important;
    display: -ms-flexbox;
    display: flex !important; 
}
@mixin box-shadow{
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2) !important;
    -o-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
}
@mixin browsers-webkit-transition{
    -webkit-transition: all 0.4s !important;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s !important;
}
@mixin browsers-linear-gradient{
    background: -webkit-linear-gradient(45deg, $azul-bebe, $rosa) !important;
    background: -o-linear-gradient(45deg, $azul-bebe, $rosa);
    background: -moz-linear-gradient(45deg, $azul-bebe, $rosa);
    background: linear-gradient(45deg, $azul-bebe, $rosa) !important;
}
@mixin browsers-scale{
    -webkit-transform: scaleX(1.1) scaleY(1.3) !important;
    -moz-transform: scaleX(1.1) scaleY(1.3);
    -ms-transform: scaleX(1.1) scaleY(1.3);
    -o-transform: scaleX(1.1) scaleY(1.3);
    transform: scaleX(1.1) scaleY(1.3) !important;
}
@mixin browsers-scale-um{
    -webkit-transform: scale(1) !important;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1) !important;
}
@mixin browsers-opacity{
    -webkit-transition: opacity 0.4s !important;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s !important;
}
@mixin browsers-transformY{
    -webkit-transform: translateY(-50%) !important;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%) !important;
}
@mixin responsividade{

  @media (max-width: 768px) {
    .wrap-login100 {
      padding-left: 60px;
      padding-right: 60px;
    }
  
  @media (max-width: 576px) {
    .wrap-login100 {
      padding-left: 15px;
      padding-right: 15px;
    }
  
      .btn-face,
      .btn-google {
        width: 100%;
      }
    }
  }
}